{
  "$schema": "../node_modules/@angular-devkit/schematics/collection-schema.json",
  "schematics": {
    "ng-add": {
      "description": "Install custom element.",
      "factory": "./ng-add"
    }
  }
}
